* {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* header */

#header {
    width: 100%;
    text-align: center;
    background-color: #2f3136;
}

#title {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

/* film overview */

#containerFilms {
    background-color: #36393f;
    color: #ffffff;
    padding-top: 15px;
}

.overFilms {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overFilms h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.overFilms img {
    width: 25%;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.containerContent {
    width: 70%;
    padding-top: 20px;
}

.containerContent p {
    padding: 10px;
}